//out: ../css/main.css
@import "login";
//variables
@color-error: #9a2d2d;
@color-success: #23d160;
@color-grey: #292929;

/*
2f1b41
9f1e49
fecd51
f2f2f2
*/
body {
    //background: url(../images/bg3.jpg) no-repeat;
    background-color: #2f1b41;
    background-size: cover;
    background-attachment: fixed;
}

.notification {
    background: @color-success;
    min-width: 350px;
    position: fixed;
    z-index: 9999;
    padding: 12px;
    top: 55px;
    right: 10px;
    color: #fff;
    text-align: center;
    &.error {
        background-color: @color-error;
    }
}
h6 {
    color: red;
}